<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Update User</title>
</head>
<body>
<h1>Update User</h1>
<form th:action="${'/admin/users/update/'+user.id}" th:object="${user}" method="POST">
    <label>
        First Name:<input type="text" th:field="${user.firstName}"/>
    </label>
    <br/>
    <br/>
    <label>
        Last Name:<input type="text" th:field="${user.lastName}"/>
    </label>
    <br/>
    <br/>
    <label>
        Username:<input type="text" th:field="${user.username}"/>
    </label>
    <br/>
    <br/>
    <label>
        Password:<input type="text" th:field="${user.password}"/>
    </label>
    <br/>
    <br/>
    <label>
        Activity:<input type="checkbox" th:field="${user.activity}"/>
    </label>
    <br/>
    <br/>
    <label>Roles:
        <input type="checkbox" th:field="${user.roles}"
               th:each="role:${roles}"
               th:text="${role.name}"
               th:value="${role.name}"
        />
    </label>
    <br/>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>